[user]
	name = George Matter
	email = george.matter@socrata.com
[core]
	editor = vim
	filemode = false
[push]
        default = current
[alias]
        conflicts = "!eval $(git config --get core.editor) $(git rev-parse --show-toplevel)/{$(git diff --name-only | uniq | tr '\n' ',' | sed 's/,$//')}"
